WORKING_DIR=/workspace
SPLENT_APP=planner
PYTHONPATH=/workspace/planner/src
FLASK_APP=planner:create_app

MARIADB_HOSTNAME=planner_db
MARIADB_DATABASE=planner_db
MARIADB_TEST_DATABASE=planner_db_test
MARIADB_USER=planner_db_user
MARIADB_PASSWORD=planner_db_password
MARIADB_ROOT_PASSWORD=planner_db_root_password

RUN_DB_SEED=true
